.main-footer {
    position:fixed;
    bottom:0px;
    width:100%;
}

body {
    background-color: #ecf0f5;
}

.margin_left_10 {
    margin-left: 10px
}

.loading_page {
    width: 50px;
    height: 50px;
}

.width_10 {
    width: 10%;
}

.width_20 {
    width: 20%;
}

.width_30 {
    width: 30%;
}

.width_40 {
    width: 40%;
}

.width_50 {
    width: 50%;
}

.width_60 {
    width: 60%;
}

.width_70 {
    width: 70%;
}

.width_80 {
    width: 80%;
}

.width_90 {
    width: 90%;
}

.width_100 {
    width: 100%;
}

.color_red {
    color: red;
}

.color_green {
    color: green;
}

.color_blue {
    color: blue;
}